.DS_Store
*.pyc
*.bak
*.png

xgui
component.xml
.directory
.Xil

tmp
Scripts/**/*.vhd

RTL/Not_tested/plasma_fpu/workspace
/media/siavoosh/3262AFAE17491E87/workspace/Bonfire/RTL/Chip_Designs/IMMORTAL_Chip_2017/work/*.*
*.wlf
*/transcript
*/output_*.txt
