.DS_Store
*.pyc
*.bak
*.png

xgui
component.xml
.directory
.Xil

tmp
Scripts/**/*.vhd

RTL/Not_tested/plasma_fpu/workspace
RTL/Chip_Designs/IMMORTAL_Chip_2017/work
*.wlf
transcript
*/output_*.txt

RTL/Chip_Designs/IMMORTAL_Chip_2017/ZedBoard_FPGA/vivado_pid*
RTL/Chip_Designs/IMMORTAL_Chip_2017/ZedBoard_FPGA/webtalk*
RTL/Chip_Designs/IMMORTAL_Chip_2017/ZedBoard_FPGA/immortal_zed_fpga
RTL/Chip_Designs/IMMORTAL_Chip_2017/ZedBoard_FPGA/ip_repo
RTL/Chip_Designs/IMMORTAL_Chip_2017/ZedBoard_FPGA/ip_user_files


RTL/Chip_Designs/IMMORTAL_Chip_2017/ZedBoard_FPGA/vivado.jou
RTL/Chip_Designs/IMMORTAL_Chip_2017/ZedBoard_FPGA/vivado.log
RTL/Chip_Designs/IMMORTAL_Chip_2017/ZedBoard_FPGA/vivado_*
